{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="portfolio" style="background-size:100%; margin:200px">
  <div style="width:300px; margin:0 auto; ">
    <div class="wow fadeInUp" data-wow-delay="0.5s">
      <div class="logout-sec">
        <form class="logout" method="POST" action="{% url 'account_logout' %}">
          <p>현재 {{user}}로 로그인 되어있습니다.</p>
          <p>로그아웃 하시겠습니까?</p>
          <br>
          {% csrf_token %} {{ form.as_p }}
          <div class="logout-btn">
            <input type="submit" class="upload-btn btn btn-outline-dark" value="로그아웃" />
            <a class="btn btn-outline-dark" href="{% url 'mainpage' %}">아니요</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}