{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div style="margin:0px 200px; margin-top:80px; font-family: 'Noto Sans KR', sans-serif;">

	<section>
		<form action="{%url 'community:create'%}" method="post" enctype="multipart/form-data">
			{%csrf_token%}
			<p>제목 : <input type="text" name="title" required></p>
			<p>사진 : <input type="file" name="image"></p>
			<p>내용 : <textarea style="width: 100%;" type="text" name="body" id="" cols="50" rows="10"
					required></textarea></p>
			<button type="submit">제출</button>
		</form>
	</section>
</div>
{% else %}
<section style="margin:0px 200px; margin-top:80px;">
	<h3>로그인 후 이용가능</h3>
	<br>

	<a href="{% url 'account_login'%}" class="btn btn-dark">로그인</a></li>
	<a href="{% url 'account_signup'%}" class="btn btn-dark">회원가입</a></li>
	<br>
</section>
{%endif%}
<br>
<br>
{% endblock %}