{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<div style="display:flex;">
    <div style="width:35%; padding:20px;">
        <p>
            <div style="text-align: center; padding: 10px 0;">
                <img style="width: 30%;" src="{% static 'img/ship.png' %}" alt="사진이어디갔징">
            </div>
            <div style="padding: 30px; border: 2px inset black; width:100%; text-align:center; word-break:break-all;">

                <h6>사용자 {{user.profile.user}}</h6> <br>

               
                <input type="button" class="btn btn-default" style="color: brown; width:100%;"
                    onclick="changeIframeUrl('{%url 'users:introduce'%}')" value="사용방법"> <br>
                <input type="button" class="btn btn-default" style="color: brown; width:100%;"
                    onclick="changeIframeUrl('{%url 'users:myinfo'%}')" value="내 정보"> <br>
             {% comment %} <input type="button" class="btn btn-default" style="color: brown; width:100%;"
                    onclick="changeIframeUrl('{%url 'users:user_posts' user.id%}')" value="내가 올린글"> {% endcomment %}
               
              

            </div>
        </p>
    </div>
    <div style="width:65%; padding:20px;">
        
        <iframe id="main_frame" name="main_frame" src="{%url 'users:introduce' %}"
            style="width:100%; height:600px; border:none;"></iframe>

    </div>
</div>
<script>
    function changeIframeUrl(url)

    {

        document.getElementById("main_frame").src = url;

    }
</script>


{% endblock %}