{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="map" style="width:750px;height:350px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f827d5dff3b0ce5909fb5a2e514dfaad">
</script>

<script style="width:300px;height:600px;">
    
    {%for i in trenches%}
        
    var lon={{i.longitude}}
    var lat={{i.latitude}}
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(42.0, 131.50), // 지도의 중심좌표
            level: 20, // 지도의 확대 레벨
            mapTypeId: kakao.maps.MapTypeId.ROADMAP // 지도종류
        };
    // 지도를 생성한다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    var rectangle = new kakao.maps.Rectangle({
        map: map,
        bounds: new kakao.maps.LatLngBounds(
            new kakao.maps.LatLng(lat, lon),
            new kakao.maps.LatLng(lat+0.5, lon+0.5)
        ),
        strokeWeight: 4,
        strokeColor: '#FF00FF',
        strokeOpacity: 0.8,
        strokeStyle: 'dashed',
        fillColor: '#00EEEE',
        fillOpacity: 0.5

    });

    kakao.maps.event.addListener(rectangle, 'click', function (mouseEvent) {
        var iwContent = '', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            iwPosition = new kakao.maps.LatLng(42, 131.5), //인포윈도우 표시 위치입니다
            iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

        // 인포윈도우를 생성하고 지도에 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
            map: map, // 인포윈도우가 표시될 지도
            position: iwPosition,
            content: iwContent,
            removable: iwRemoveable
        });
    });
    {%endfor%}
</script>

{% endblock%}